In [2]:
int_num=23
float_num=3.56
character="h"
word="hello"

# <font color='red'> type()

In [6]:
type(int_num)

int

In [7]:
type(float_num)

float

In [8]:
type(character)

str

In [9]:
type(word)

str

# <font color=red>Python is Dynamically Typed

In [216]:
x=2
x=2.5
x=True
x="hello world"

# <font color=red>Casting

## <font color=blue> 1- int()

In [10]:
# from float to int
x=2.5
y=int(x)

In [13]:
print("x= ", x, "\nx type is: ", type(x))
print("y= ", y, "\ny type is: ", type(y))

x=  2.5
x type is:  <class 'float'>
y=  2
y type is:  <class 'int'>

In [14]:
#from string to int
x="hello"
y=int(x)

ValueError: invalid literal for int() with base 10: 'hello'

## <font color=blue> 2- float()

In [15]:
# from int to float
x=2
y=float(x)

In [16]:
print("x= ", x, "\nx type is: ", type(x))
print("y= ", y, "\ny type is: ", type(y))

x=  2
x type is:  <class 'int'>
y=  2.0
y type is:  <class 'float'>

In [17]:
#from string to float
x="hello"
y=float(x)

ValueError: could not convert string to float: 'hello'

## <font color=blue> 3- str()

In [19]:
# from str to int
x="2"
y=int(x)

In [20]:
print("x= ", x, "\nx type is: ", type(x))
print("y= ", y, "\ny type is: ", type(y))

x=  2
x type is:  <class 'str'>
y=  2
y type is:  <class 'int'>

In [21]:
# from str to int
x="34fr"
y=int(x)

ValueError: invalid literal for int() with base 10: '34fr'

In [22]:
# from str to float
x="2"
y=float(x)

In [23]:
print("x= ", x, "\nx type is: ", type(x))
print("y= ", y, "\ny type is: ", type(y))

x=  2
x type is:  <class 'str'>
y=  2.0
y type is:  <class 'float'>

In [24]:
# from str to float
x="2ert"
y=float(x)

ValueError: could not convert string to float: '2ert'

## <font color=blue> 4- chr()

In [33]:
#from ascii (int) to char as str
x=100
y=chr(x)

In [34]:
print("x= ", x, "\nx type is: ", type(x))
print("y= ", y, "\ny type is: ", type(y))

x=  100
x type is:  <class 'int'>
y=  d
y type is:  <class 'str'>

In [39]:
#from str to  ascii(int)
x='d'
y=ord(x)

In [41]:
print("x= ", x, "\nx type is: ", type(x))
print("y= ", y, "\ny type is: ", type(y))

x=  d
x type is:  <class 'str'>
y=  100
y type is:  <class 'int'>

## <font color=blue> 5- bool()
<img src='bool-cast.png'/>

### <font color=green>a) from bool to others

In [44]:
# from bool to int
x=True
y=int(x)

In [45]:
print("x= ", x, "\nx type is: ", type(x))
print("y= ", y, "\ny type is: ", type(y))

x=  True
x type is:  <class 'bool'>
y=  1
y type is:  <class 'int'>

In [46]:
# from bool to int
x=False
y=int(x)

In [47]:
print("x= ", x, "\nx type is: ", type(x))
print("y= ", y, "\ny type is: ", type(y))

x=  False
x type is:  <class 'bool'>
y=  0
y type is:  <class 'int'>

In [53]:
# from bool to float
x=True
y=float(x)

In [54]:
print("x= ", x, "\nx type is: ", type(x))
print("y= ", y, "\ny type is: ", type(y))

x=  True
x type is:  <class 'bool'>
y=  1.0
y type is:  <class 'float'>

In [55]:
# from bool to float
x=False
y=float(x)

In [50]:
print("x= ", x, "\nx type is: ", type(x))
print("y= ", y, "\ny type is: ", type(y))

x=  False
x type is:  <class 'bool'>
y=  0
y type is:  <class 'int'>

In [57]:
# from bool to str
x=True
y=str(x)

In [58]:
print("x= ", x, "\nx type is: ", type(x))
print("y= ", y, "\ny type is: ", type(y))

x=  True
x type is:  <class 'bool'>
y=  True
y type is:  <class 'str'>

In [59]:
# from bool to str
x=False
y=str(x)

In [60]:
print("x= ", x, "\nx type is: ", type(x))
print("y= ", y, "\ny type is: ", type(y))

x=  False
x type is:  <class 'bool'>
y=  False
y type is:  <class 'str'>

### <font color=green>b) from others to bool

In [67]:
# from int to bool
#any number except 0 is True

x=-545648
y=bool(x)

In [68]:
print("x= ", x, "\nx type is: ", type(x))
print("y= ", y, "\ny type is: ", type(y))

x=  -545648
x type is:  <class 'int'>
y=  True
y type is:  <class 'bool'>

In [69]:
# from int to bool
x=-0 #x=0 
y=bool(x)

In [70]:
print("x= ", x, "\nx type is: ", type(x))
print("y= ", y, "\ny type is: ", type(y))

x=  0
x type is:  <class 'int'>
y=  False
y type is:  <class 'bool'>

In [71]:
# from float to bool
#any number except 0.0 is True
x=564.48
y=bool(x)

In [72]:
print("x= ", x, "\nx type is: ", type(x))
print("y= ", y, "\ny type is: ", type(y))

x=  564.48
x type is:  <class 'float'>
y=  True
y type is:  <class 'bool'>

In [73]:
# from float to bool
x=0.0
y=bool(x)

In [74]:
print("x= ", x, "\nx type is: ", type(x))
print("y= ", y, "\ny type is: ", type(y))

x=  0.0
x type is:  <class 'float'>
y=  False
y type is:  <class 'bool'>

In [77]:
# from str to bool
#any string except empty string is True
x="hello"
y=bool(x)

In [78]:
print("x= ", x, "\nx type is: ", type(x))
print("y= ", y, "\ny type is: ", type(y))

x=  hello
x type is:  <class 'str'>
y=  True
y type is:  <class 'bool'>

In [79]:
# from str to bool
x=""
y=bool(x)

In [80]:
print("x= ", x, "\nx type is: ", type(x))
print("y= ", y, "\ny type is: ", type(y))

x=
x type is:  <class 'str'>
y=  False
y type is:  <class 'bool'>

In [88]:
# from collection to bool
#any collection except empty is True
x={7, "jh"}
y=bool(x)

In [89]:
print("x= ", x, "\nx type is: ", type(x))
print("y= ", y, "\ny type is: ", type(y))

x=  {'jh', 7}
x type is:  <class 'set'>
y=  True
y type is:  <class 'bool'>

In [90]:
# from collection to bool
#any collection except empty is True
x=[]
y=bool(x)

In [91]:
print("x= ", x, "\nx type is: ", type(x))
print("y= ", y, "\ny type is: ", type(y))

x=  []
x type is:  <class 'list'>
y=  False
y type is:  <class 'bool'>

# <font color=red>input()

## <font color=blue>take string from user

In [94]:
name=input("please enter yaour name: ")

please enter your name: Mona

In [108]:
name

'Mona'

In [109]:
print(type(name))

<class 'str'>

## <font color=blue>take number from user

In [105]:
age=input("please enter your age: ")

please enter your age: 23

In [106]:
age

'23'

In [107]:
print(type(age))

<class 'str'>

## <font color=green>converting the input type to int

In [111]:
age=int(input("please enter your age: "))

please enter your age: 23

In [112]:
age

23

In [113]:
print(type(age))

<class 'int'>

## <font color=red>print()

## <font color=blue>printing a text msg

In [114]:
print("hello world")

hello world

## <font color=blue>printing a variable value

In [115]:
x=25
print(x)

25

## <font color=blue>printing txt & variable

In [116]:
age=25
print("I am ", age, "years old.")

I am  25 years old.

## <font color=blue>printing escape characters

<img src='escape-characers.png'>

In [134]:
print("hello \nZeinab")

hello
Zeinab

In [145]:
print('How're you?')

SyntaxError: invalid syntax (<ipython-input-145-458562b6135b>, line 1)

In [138]:
print('How\'re you?')

How're you?

In [140]:
print("The right division operator in matlab is: \")

SyntaxError: EOL while scanning string literal (<ipython-input-140-d40155a3d6b3>, line 1)

In [141]:
print("The right division operator in matlab is: \\")

The right division operator in matlab is: \

In [144]:
print(r"\n: means new line")

\n: means new line

## <font color=red>Exercise yourself

## Given the Radius, Write Python Program to Find the Area (πr2) and Circumference of a Circle (2πr).

In [146]:
PI=3.14
radius=int(input("enter the circle radius: "))
area=PI*radius**2
circum=2*PI * radius
print("A circle with radius: ", radius, "has the area: ", area, " and circumference: ", circum)

enter the circle radius: 5
A circle with radius:  5 has the area:  78.5  and circumference:  31.400000000000002

## <font color=red>Exercise yourself

## Write Python Program to Convert the Given Number of Days to a Measure of Time Given in Years, Weeks and Days. For Example, 375 Days Is Equal to 1 Year, 1 Week and 3 Days (Ignore Leap Year).

In [155]:
days=int(input("enter the number of days: "))

years=days//365
weeks=days%365//7
remaining_days=days%365%7

print(days, "contains ", years, "years, ", weeks, "weeks and ", remaining_days, "days")

enter the number of days: 500
500 contains  1 years,  19 weeks and  2 days

## <font color=red>Exercise yourself

## Write a python program that takes from the user the size of his harddisk in GB to prints the size in MB.

### Note: $MB= 2^{10} * GB$

In [159]:
g_hard_size=int(input("enter the hard disk size in GB: "))
m_hard_size=g_hard_size*2**10

print(g_hard_size)
print(m_hard_size)

enter the hard disk size in GB: 2
2
2048

# <font color=red>Operators in Python

## <font color=blue> 1)Arithmetic Operators
<img src="arithmatic_op.png">

In [161]:
x=2+3
y=2**3
z=5/2
w=5//2
s=int(5/2)
v=5%2

In [162]:
print(x, y, z, w, s, v)

5 8 2.5 2 2 1

## <font color=blue> 2)Assignment Operators 
<img src="assign_op.png">

In [164]:
x=5
x=x+1
print(x)

6

In [165]:
y=5
y+=1
print(y)

6

In [166]:
x=2
x=x**2
print(x)

4

In [167]:
y=2
y**=2
print(y)

4

In [169]:
M+=1
print(M)

NameError: name 'M' is not defined

In [170]:
M=0
M+=1
print(M)

1

## <font color=blue> 3)Comparison Operators
<img src="compr_op.png">

In [171]:
10>20

False

In [172]:
10<20

True

In [173]:
10==20

False

In [174]:
10==10

True

In [175]:
x, y=5, 8
x==y

False

In [176]:
x<=y

True

## <font color=blue> 4)Logical Operators
<img src="log_op1.png">
<img src="log_op2.png">

In [177]:
True and True

True

In [178]:
True and False

False

In [180]:
True or False

True

In [181]:
not True

False

In [187]:
py_grade=80; math_grade=70; stat_grade=40
py_grade>=50 and math_grade>=50 and stat_grade>=50

False

In [188]:
py_grade=80; math_grade=70; stat_grade=40
py_grade>=50 or math_grade>=50 or stat_grade>=50

True

## <font color=blue> 5)Identity Operators
<img src="identity_op.png">

In [202]:
x=34
y=34
x==y

True

In [203]:
x is y

True

In [204]:
print(id(x))
print(id(y))

93835699705632
93835699705632

In [205]:
x=34.0
y=34.0
x==y

True

In [206]:
x is y

False

In [207]:
print(id(x))
print(id(y))

140123985817200
140123985555536

In [215]:
x is not y

True

## <font color=blue> 6)Membership Operators
<img src="member_op.png">

In [209]:
x='hello world'

In [210]:
'hello' in x

True

In [211]:
'Hello' in x

False

In [213]:
'123' not in x

True

## <font color=blue> 7)Precedence Operators
<img src="preced_op.png">

In [189]:
2+3*6

20

In [190]:
(2+3)*6

30

In [191]:
py_grade=80; math_grade=70; stat_grade=40
py_grade>=50 and (math_grade>=50 or stat_grade>=50)

True

# <font color=red>DataTypes

## <font color=blue>1) String

In [217]:
x="What is your name?"
y='What is your name?'

In [218]:
z="What is your name?'

SyntaxError: EOL while scanning string literal (<ipython-input-218-ac574c5e4ae2>, line 1)

In [221]:
z="What's your name?"
print(z)

What's your name?

In [222]:
z='What's your name?'
print(z)

SyntaxError: invalid syntax (<ipython-input-222-b296e18fcaba>, line 1)

In [223]:
z='What\'s your name?'
print(z)

What's your name?

In [228]:
z="Ahmed says "I am so tired""
print(z)

SyntaxError: invalid syntax (<ipython-input-228-37b6047fda94>, line 1)

In [229]:
z="Ahmed says \"I am so tired\""
print(z)

Ahmed says "I am so tired"

In [230]:
z='Ahmed says "I am so tired"'
print(z)

Ahmed says "I am so tired"

## <font color=blue> Writing paragraph

In [234]:
msg="Python is a high-level, general-purpose programming language. 
Its design philosophy emphasizes code readability with the use of significant indentation. 
Python is dynamically-typed and garbage-collected. 
It supports multiple programming paradigms, including structured, object-oriented and functional programming."

print(msg)

SyntaxError: EOL while scanning string literal (<ipython-input-234-ef1516dfeb5e>, line 1)

In [235]:
msg="Python is a high-level, general-purpose programming language. \
Its design philosophy emphasizes code readability with the use of significant indentation. \
Python is dynamically-typed and garbage-collected. \
It supports multiple programming paradigms, including structured, object-oriented and functional programming."

print(msg)

Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation. Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured, object-oriented and functional programming.

## <font color=blue> Multiline String

In [232]:
z='''   Dear all,
Please find the attached files.'''
print(z)

   Dear all,
Please find the attached files.

In [233]:
z="""   Dear all,
Please find the attached files."""
print(z)

   Dear all,
Please find the attached files.

## <font color=blue>Basic String Operations: </font> ‘+’

Concatenating Strings using +

In [237]:
first_name="Zeinab"
last_name="Ezz"

name=first_name+" "+last_name

print(name)

Zeinab Ezz

In [240]:
x="Python"
x+=" Lecture"

print(x)

Python Lecture

In [242]:
x=50+" cent"

print(x)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [243]:
x=str(50)+" cent"

print(x)

50 cent

## <font color=blue>Basic String Operations: </font> ‘*’

Repeating strings using *

In [244]:
x="TA"*2
print(x)

TATA

In [245]:
x+=' box'
print(x)

TATA box

## <font color=blue>in Keyword

In [247]:
x="hello world"
y="hello"
 
y in x

True

In [248]:
x="hello world"
y="Hello"
 
y in x

False

## <font color=blue>not in Keyword

In [249]:
x="hello world"
y="hello"
 
y not in x

False

In [251]:
x="hello world"
y="Hello"
 
y not in x

True

## <font color=blue>String Comparison

In [252]:
"jun"=='jan'

False

In [253]:
"jun"!='jan'

True

In [254]:
"jun">'jan'

True

In [255]:
"jun">='jan'

True

In [256]:
"jun"<'jan'

False

In [258]:
"filled">''

True

## <font color=blue>String Length: len()

In [296]:
msg='hello world'
len(msg)

11

## <font color =blue> String Indexing
<img src='str_indexing.png'>

### <font color=green>- Positive indexing
<img src='pos_index.png'>

In [293]:
word_phrase='be yourself'

In [294]:
word_phrase[0]  # first index

'b'

In [295]:
word_phrase[10]

'f'

In [297]:
word_phrase[len(word_phrase)-1]  # last index

'f'

In [298]:
word_phrase[11]

IndexError: string index out of range

### <font color=green>- Negative indexing
<img src='neg_index.png'>

In [299]:
word_phrase='be yourself'

In [300]:
word_phrase[-1]  #the last index

'f'

In [301]:
word_phrase[-1*len(word_phrase)]  #the last index

'b'

In [302]:
word_phrase[-2]

'l'

## <font color =blue> String Slicing
<img src='str_slicing.png'>

### <font color=green> Positive Slicing:
<img src='str_slice_ex.png'>

In [303]:
healthy_drink="green tea"

In [304]:
healthy_drink[0:3]

'gre'

In [305]:
# step default value = 0
healthy_drink[:3]

'gre'

In [306]:
#end default value=the end of string
healthy_drink[2:]

'een tea'

In [307]:
healthy_drink[:]

'green tea'

### <font color=green> Negative Slicing:
<img src='neg_slice.png'>

In [308]:
healthy_drink[-1:-3]

''

In [309]:
healthy_drink[-3:-1]

'te'

In [312]:
healthy_drink[0:-3]

'green '

In [311]:
healthy_drink[:-3]

'green '

In [313]:
newspaper="new york times"

In [316]:
newspaper[0:13:1]

'new york time'

In [317]:
newspaper[0:13:2]

'nwyr ie'

In [318]:
newspaper[0:13:4]

'ny e'

In [319]:
newspaper[::-1]

'semit kroy wen'

## <font color=blue>Strings are Immutable

In [325]:
x='dollar'
x[0]='e'

TypeError: 'str' object does not support item assignment

In [326]:
x='s'+x[1:]

In [327]:
print(x)

sollar

In [330]:
d='sollar'
print(id(x)==id(d))
print(x==d)
print(id(x[0])==id(d[0]))

False
True
True

## <font color=blue>fstring

In [260]:
country=input("Which country do you live in? ")
print(f"you live in {country}")

Which country do you live in? cairo
you live in cairo

In [261]:
country=input("Which country do you live in? ")
print("you live in "+country)

Which country do you live in? cairo
you live in cairo

## <font color=blue>Formating String: format()

In [262]:
name="Mona"
age=23
weight=60.5

print("My name is {}. I am {} years old. I am {} KG".format(name, age, weight))

My name is Mona. I am 23 years old. Iam 60.5 KG

In [263]:
name="Mona"
age=23
weight=60.5

print("My name is {0}. I am {1} years old. I am {2} KG".format(name, age, weight))

My name is Mona. I am 23 years old. I am 60.5 KG

In [265]:
name="Mona"
age=23
weight=60.5

print("I am  {2} KG. I am {0}. I am {1} years old".format(weight, name, age))

My name is 23. I am 60.5 years old. I am Mona KG

In [264]:
name="Mona"
age=23
weight=60.5

print("My name is {:s}. I am {:d} years old. I am {:f} KG".format(name, age, weight))

My name is Mona. I am 23 years old. I am 60.500000 KG

In [267]:
name="Mona"
age=23
weight=60.5

print("My name is {0:s}. I am {1:d} years old. I am {2:f} KG".format(name, age, weight))

My name is Mona. I am 23 years old. I am 60.500000 KG

In [272]:
name="Mona"
age=23
weight=60.5

print("My name is {0:s}. I am {1:5d} years old. I am {2:6.2f} KG".format(name, age, weight))

My name is Mona. I am    23 years old. I am  60.50 KG

In [273]:
name='Ahmed'
final_grade=100
msg='Hi {0}, the final grade of CS course is {1}. The final grade for Stat. course is {1}'

print(msg.format(name, final_grade))

Hi Ahmed, the final grade of CS course is 100. The final grade for Stat. course is 100

## <font color=blue>String Functions </font>

## <font color=green>1- upper()

In [274]:
u_name=name.upper()
print(name)
print(u_name)

Ahmed
AHMED

## <font color=green>2- lower()

In [275]:
u_name=name.lower()
print(name)
print(u_name)

Ahmed
ahmed

## <font color=green>3- strip()

In [276]:
name="     Hello world     "
u_name=name.strip()
print(name)
print(u_name)

     Hello world
Hello world

## <font color=green>4- replace()

In [278]:
script_language='python'
interpreter=script_language.replace('p', 'j')
print(script_language)
print(interpreter)

python
jython

## <font color=green>5- join()
<img src='join.png'>

In [283]:
x=['A', 'C', 'G', 'T']
time="-".join(x)
print(x)
print(time)

['A', 'C', 'G', 'T']
A-C-G-T

## <font color=green>6- split()
<img src='split.png'>

In [285]:
x="1, 2, 3, 4, 5"
y=x.split(',')
print(x)
print(y)
print(type(y))

1, 2, 3, 4, 5
['1', ' 2', ' 3', ' 4', ' 5']
<class 'list'>

In [291]:
first, middle, last=input("enter the first, middle, and last name seperated with ' ': ").split(' ')
print(first)
print(middle)
print(last)

enter the first, middle, and last name seperated with ' ': mohammed ahmed mahmmud
mohammed
ahmed
mahmmud

## <font color=purple>Exercise yourself

## Write Python Code to Determine Whether the Given String Is a Palindrome or Not Using Slicing

In [332]:
txt=input("enter your string: ")
if txt==txt[::-1]: print(txt, "is a plandrome string")
else: print(txt, "is not a plandrome string")

enter your string: computer
computer is not a plandrome string

# <font color=blue> Advanced Data Types (Collections)

## <font color=blue> 2) Lists </font>
    
### List: is a collection which is <font color=orange>**ordered and changeable**</font>.  
### <font color=orange>**Allows duplicate** </font>members.
### **Lists** are used to <font color=orange>**store multiple items**</font> in a single variable.

### **Lists elements** can be of the <font color=orange>**same or of different types.**</font>
###  listName = [initial values]

### <font color=green> Define Lists</font>

In [333]:
lst=[23, 'hello', 56.45, 6.5]

## <font color=green>Empty List</font>

In [334]:
l=[]

## <font color=green> Printing Lists </font>

In [335]:
print(lst)

[23, 'hello', 56.45, 6.5]

In [336]:
print(l)

[]

## <font color=green> List Length </font>

In [342]:
print(len(lst))

4

## <font color=green> Acessing Lists </font>
### <font color=purple> List Positive indexing:</font> list indices starts from zero to the length of the list -1

In [337]:
lst[0]    #the first element

23

In [338]:
lst[1]   #the second element

'hello'

In [350]:
lst[len(lst)-1]      #the last element

6.5

In [351]:
lst[3]     # the last element since the list contain 4 elements

6.5

In [352]:
lst[6]    #6: out of range index, since the length contains 4 elements

IndexError: list index out of range

### <font color=purple> List Negative indexing:</font> starts from the last element in the list, its index is -1

In [353]:
lst[-1]     # the last element in the list is accessed also via index -1

6.5

In [354]:
lst[-2]

56.45

In [355]:
lst[-4]       #the first element

23

In [356]:
lst[-1*len(lst)]   #the first element

23

In [357]:
lst[-5]

IndexError: list index out of range

## <font color=green> List Slicing</font> to access a sublist using <font color=green> [start:end:step] </font> notation

In [358]:
lst[1:4]

['hello', 56.45, 6.5]

In [359]:
x=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
x[2:7]

[3, 4, 5, 6, 7]

In [360]:
y=x[:5]           # default start index is 0
print(y)

[1, 2, 3, 4, 5]

In [361]:
x[3:]             #default end index is the size of the list-1

[4, 5, 6, 7, 8, 9, 10]

In [362]:
x[:]            #the whole list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [363]:
x[::2]    # with step =2

[1, 3, 5, 7, 9]

In [364]:
x[1:6:3]         #starts from index 1 to index 6 with step= 3

[2, 5]

## <font color=green> List Modification</font> (List is a mutable datatype)
###  listName[index of item to be modified] = new value

In [365]:
x[5]

6

In [366]:
x[5]='hello'
print(x[5])

hello

In [367]:
print(x)

[1, 2, 3, 4, 5, 'hello', 7, 8, 9, 10]

In [368]:
x[:4]

[1, 2, 3, 4]

In [369]:
x[:4]=[11, 23.5, 'programming', 0]
print(x[:4])

[11, 23.5, 'programming', 0]

In [370]:
x

[11, 23.5, 'programming', 0, 5, 'hello', 7, 8, 9, 10]

# <font color=green> List Operations </font>
## <font color=purple> 1- List Concatenation: </font>  +

In [498]:
squares=[1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [499]:
squares+[36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [500]:
print(squares)

[1, 4, 9, 16, 25]

## <font color=purple> 2- Unpacking List: </font>

In [501]:
fruits=['apple', 'bannana', 'cherry']
x, y, z=fruits
print(x)
print(y)
print(z)

apple
bannana
cherry

## <font color=purple> 3- Clear List: </font>

In [502]:
letters=['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [503]:
letters[2:5]

['c', 'd', 'e']

In [507]:
letters[2:5]=['C', 'D', 'E']
letters[2:5]

['C', 'D', 'E']

In [512]:
letters[2:5]=[]   # remove the list items stored from idex 2 through index 4

In [513]:
letters

[]

In [514]:
letters[:]=[]  # clear list by replacing all its items with an empty list

In [515]:
letters

[]

# <font color=green> List functions </font>
## <font color=purple> 1- List Length: len()</font>

In [371]:
len(x)

10

In [372]:
len(lst)

4

## <font color=purple> 2- Adding item to List using </font>  append()  <font color=purple>function</font>

In [373]:
x.append(234)    # add 234 to the end of list x
print(x)

[11, 23.5, 'programming', 0, 5, 'hello', 7, 8, 9, 10, 234]

## <font color=purple> 3-Check Existance </font>
### To check whether an element exist in a list or not, <font color=red> in </font> keyword is used

In [374]:
print(x)

[11, 23.5, 'programming', 0, 5, 'hello', 7, 8, 9, 10, 234]

In [375]:
print (11 in x)

True

In [376]:
print(11.5 in x)

False

## <font color=purple> 3- Removing item from List </font>  
### del listName[index of item to be deleted]

In [377]:
del x[2]
print(x)

[11, 23.5, 0, 5, 'hello', 7, 8, 9, 10, 234]

## <font color=purple> 4- Removing List</font>  
### del listName

In [378]:
del x
print(x)

NameError: name 'x' is not defined

# <font color=green>Storing List

<img src='store_list1.png'>

<img src='store_list2.png'>

<img src='store_list3.png'>

# <font color=green> List built-in Functions
<img src='list-func.png'>

## <font color='blue'>3) Tuple:</font> 
### Tuple is a collection which is <font color='green'>ordered and unchangeable. </font>
### <font color='green'>Allows duplicate members.</font>
### tupleName = (initial values)

## <font color=green> Define Tuple</font>

In [531]:
monthes=('Jan',1,  'Feb', 2, 'Mar', 3, 'Apr', 4, 'May', 5, 'Jun', 6, 'Jul', 7, 'Aug', 8, 'Sep', 9, 'Oct', 10, \
         'Nov', 11, 'Dec', 12)

monthes= 'Jan',1,  'Feb', 2, 'Mar', 3, 'Apr', 4, 'May', 5, 'Jun', 6, 'Jul', 7, 'Aug', 8, 'Sep', 9, 'Oct', 10, \
         'Nov', 11, 'Dec', 12

## <font color=green> Define Singleton Tuple</font>

In [543]:
s=1,  # <-- Note the trailing comma
d=(2,)

## <font color=green> Define Nested Tuple</font>

In [538]:
y= (20, 30, 40, 'hello')
z= y, (1, 2, 3)

## <font color=green> Empty Tuple</font>

In [539]:
t=()

## <font color=green> Printing Tuples </font>

In [540]:
print(monthes)

('Jan', 1, 'Feb', 2, 'Mar', 3, 'Apr', 4, 'May', 5, 'Jun', 6, 'Jul', 7, 'Aug', 8, 'Sep', 9, 'Oct', 10, 'Nov', 11, 'Dec', 12)

In [535]:
print(t)

()

In [536]:
print(y)

(20, 30, 40, 'hello')

In [541]:
print(z)

((20, 30, 40, 'hello'), (1, 2, 3))

In [542]:
print(s)

(1,)

# <font color=green> Acessing Tuples </font>
## <font color=purple> Tuple Positive Indexing:</font> Tuple indices starts from zero to the length of the list -1

In [386]:
monthes[0]    #the first element

'Jan'

In [387]:
monthes[1]   #the second element

1

In [390]:
monthes[len(monthes)-1]      #the last element

12

In [389]:
monthes[23]     # the last element since the tuple contain 24 elements

12

In [391]:
monthes[24]    #6: out of range index, since the tuple contains 24 elements

IndexError: tuple index out of range

## <font color=purple> Negative indexing</font> starts from the last element in the tuple, its index is -1

In [393]:
monthes[-1]     # the last element in the tuple is accessed also via index -1

12

In [394]:
monthes[-2]       # the second last element on the tuple

'Dec'

In [398]:
monthes[-1*len(monthes)]  # the first element

'Jan'

In [396]:
monthes[-24]       #the first element

'Jan'

In [397]:
monthes[-25]

IndexError: tuple index out of range

## <font color=green> Tuple Slicing</font> to access a subtuple using <font color=purple> [start:end:step] </font> notation

In [399]:
monthes[1:4]

(1, 'Feb', 2)

In [400]:
days=('sat', 'sun', 'mon', 'tues', 'wed', 'thrus', 'fri')
days[2:7]

('mon', 'tues', 'wed', 'thrus', 'fri')

In [401]:
y=days[:5]           # default start index is 0
print(y)

('sat', 'sun', 'mon', 'tues', 'wed')

In [402]:
days[3:]             #default end index is the size of the list-1

('tues', 'wed', 'thrus', 'fri')

In [403]:
days[:]            #the whole list

('sat', 'sun', 'mon', 'tues', 'wed', 'thrus', 'fri')

In [404]:
days[::2]    # with step =2

('sat', 'mon', 'wed', 'fri')

In [405]:
days[1:6:3]         #starts from index 1 to index 6 with step= 3

('sun', 'wed')

## <font color=green> Tuple Modification</font>  
###  Tuple elements cannot be modified after created <font color=red>(Tuple is Immutable datatype)

In [406]:
monthes[5]

3

In [407]:
monthes[5]='hello'
print(monthes[5])

TypeError: 'tuple' object does not support item assignment

In [408]:
monthes[:4]

('Jan', 1, 'Feb', 2)

In [409]:
monthes[:4]=(11, 23.5, 'programming', 0)
print(monthes[:4])

TypeError: 'tuple' object does not support item assignment

## <font color=green>Tuple Operations 
## <font color=purple> 1- Tuple Concatenation:</font> +

In [546]:
t1=(3, 5, 2)
t2=4, 
t3=9, 1, 7, 5
t=t1+t2+t3

print(t)

(3, 5, 2, 4, 9, 1, 7, 5)

## <font color=purple> 2- Tuple Repeation:</font> *

In [549]:
t1=('h', 5, 2)
t=t1*2

print(t)

('h', 5, 2, 'h', 5, 2)

## <font color=green>Tuple functions 
## <font color=purple> Tuple Length:</font>   len()

In [550]:
len(monthes)

24

In [551]:
len(t)

6

# <font color=green>Tuple is Immutable data type
## <font color=purple> Adding item to Tuple </font>
### We cannot add a new item to a tuple after created

In [552]:
monthes[24]=67   # add 67 to the end of tuple monthes
print(monthes)

TypeError: 'tuple' object does not support item assignment

# <font color=green> 2- Check Existance </font>
### To check whether an element exist in a tuple or not, <font color=red> in </font> keyword is used

In [415]:
print(days)

('sat', 'sun', 'mon', 'tues', 'wed', 'thrus', 'fri')

In [416]:
print ('sat' in days)

True

In [417]:
print('moon' in days)

False

## <font color=purple> Removing item from Tuple </font>  
### Cannot delete any element from the tuple

In [420]:
del monthes[2]
print(monthes)

TypeError: 'tuple' object doesn't support item deletion

## <font color=green> 3- Removing Tuple</font>  
### del tupleName

In [421]:
del monthes
print(monthes)

NameError: name 'monthes' is not defined

# <font color=green>Tuple Built-in Functions
<img src='tuple_func.png'>

## <font color=blue>3) Set: </font>
### is a collection which is <font color=purple>unordered and unindexed</font>. 
### <font color=purple>No duplicate members.</font>
### setName={items}

## <font color=green> Define Set</font>

In [423]:
numbers={'one', 'two', 2, 2, 'three'}
fruits=set({'orange', 'bananna', 'apple', 'cherry'})

## <font color=green> Empty Sets</font>

In [425]:
s=set()                  # Note: donot use {} to create empty set

## <font color=green> Printing Sets </font>

In [427]:
print(numbers)

{'two', 2, 'one', 'three'}

In [428]:
print(fruits)

{'bananna', 'apple', 'orange', 'cherry'}

In [429]:
print(s)

set()

# <font color=green> Sets Operations</font>

In [556]:
a={'a','b', 'r', 'a', 'b', 'c', 'd', 'e', 'r', 't', 's'}
a

{'a', 'b', 'c', 'd', 'e', 'r', 's', 't'}

In [557]:
b=set('bbcadedfa')
b

{'a', 'b', 'c', 'd', 'e', 'f'}

In [558]:
a-b  # letters in a but not in b

{'r', 's', 't'}

In [560]:
a|b  #all letters in a or b or both

{'a', 'b', 'c', 'd', 'e', 'f', 'r', 's', 't'}

In [561]:
a&b   # letters in both a and b

{'a', 'b', 'c', 'd', 'e'}

In [562]:
a^b   #letters in a or but not both

{'f', 'r', 's', 't'}

# <font color=green> Acessing Sets </font>
## We cannot access a certain element by index in a set. This is because sets are unordered thus its element has no index

In [431]:
fruits[0]    #the first element

TypeError: 'set' object is not subscriptable

## <font color=green> Negative indexing</font> sets have no negative indexing

In [433]:
fruits[-1]

TypeError: 'set' object is not subscriptable

## <font color=green> Set Slicing</font> Sets donot support slicing

In [434]:
fruits[1:4]

TypeError: 'set' object is not subscriptable

# <font color=green> Set is Mutable datatype
## <font color=purple> Set Modification</font>  
###  Sets elements cannot be modified using indices

In [435]:
fruits[2]='pineapple'

TypeError: 'set' object does not support item assignment

In [436]:
fruits[2:4]={11, 23}

TypeError: 'set' object does not support item assignment

# <font color=green>Sets functions 
## <font color=purple> 1- Sets Length</font>

In [437]:
len(fruits)

4

In [438]:
len(s)

0

## <font color=purple> 2- Adding item to Set using</font>  add() <font color=purple> function</font>

In [440]:
fruits.add('pear')   # add pear to the set fruits
print(fruits)

{'apple', 'orange', 'bananna', 'cherry', 'pear'}

## <font color=purple> 3-Adding multiple items to a set using </font> update()<font color=purple> function</font>

In [443]:
fruits.update({'mango', 'Grape'})
print(fruits)

{'apple', 'orange', 'Grape', 'bananna', 'cherry', 'pear', 'mango'}

## <font color=purple> 4- Concatenating 2 sets using </font> union()<font color=purple> function</font>

In [563]:
s1={'hi', 3, 5, 78}
s2={6, 8, 3, 'hi'}
s=s1.union(s2)
print(s)

{3, 5, 6, 'hi', 8, 78}

# <font color=purple> 5- Check Existance </font>
### To check whether an element exist in a set or not, <font color=red> in </font> keyword is used

In [444]:
print(fruits)

{'apple', 'orange', 'Grape', 'bananna', 'cherry', 'pear', 'mango'}

In [445]:
print ('orange' in fruits)

True

In [446]:
print('pineapple' in fruits)

False

## <font color=purple> 6- Removing item from set using</font>   remove() <font color=purple> function.</font>

In [447]:
print(fruits)

{'apple', 'orange', 'Grape', 'bananna', 'cherry', 'pear', 'mango'}

In [448]:
fruits.remove('mango')

In [449]:
fruits.remove('pineapple')          # deleting an unexisted element, an error occurs

KeyError: 'pineapple'

In [450]:
print(fruits)

{'apple', 'orange', 'Grape', 'bananna', 'cherry', 'pear'}

## <font color=purple> 6- Removing item from set using</font>   discard() <font color=purple> function.</font>

In [451]:
print(fruits)

{'apple', 'orange', 'Grape', 'bananna', 'cherry', 'pear'}

In [452]:
fruits.discard('Grape')

In [453]:
fruits.discard('pineapple')         # deleting an unexisted element,, no error occurs

In [454]:
print(fruits)

{'apple', 'orange', 'bananna', 'cherry', 'pear'}

## <font color=purple> 7-Clearing a Set using </font> clear()<font color=purple> function</font>

In [455]:
fruits.clear()
print(fruits)

set()

## <font color=purple> 8- Removing set</font>  
### del setName

In [456]:
del fruits
print(fruits)

NameError: name 'fruits' is not defined

## <font color=blue> 5- Dictionary: </font>  

### is a collection which is <font color=green>unordered, changeable and indexed. 
    
### <font color=green>No duplicate members.

### Dictionary is a collection of related data pair. For example, if we want to store the username and age of 5 users, we can store them in a dictionary.  

### dictionaryName = {dictionary key : data}
    
    
<img src='dic.png'>

## <font color=green> Define Dictionary</font>

In [469]:
tel={'jack':12345, 'Alex':67890}    #jack is a key with value 12345, ALex is a key with value 67890  

my_dict={'Ali':38, "Maha":51, 'Ali':13} # the key Ali had the value 38, then it is replaced with valued 13 

grade={500:60, 501:70, 502:80}     #key can be numbers

x={600:36, 'a':23, 700:'e'}      #both key and value can be number or string in the same dictionary

## <font color=green>Empty Dictionary</font>

In [470]:
d={}

## <font color=green> Printing Dictionary </font>

In [471]:
print(my_dict)

{'Ali': 13, 'Maha': 51}

In [472]:
print(d)

{}

In [473]:
print(x)

{600: 36, 'a': 23, 700: 'e'}

In [474]:
print(grade)

{500: 60, 501: 70, 502: 80}

# <font color=green> Acessing Dictionary </font>
## <font color=purple> Dictionary indexing:</font> Dictionary indices are its keys

In [475]:
my_dict

{'Ali': 13, 'Maha': 51}

In [476]:
my_dict['Maha']    #return the value of the key 'Maha'

51

In [477]:
x[700]   #return the value of the key 700

'e'

In [478]:
x[2]      #ERROR!! since there is no element with key=2 in dictionary x

KeyError: 2

## <font color=green> Adding item to Dictionary </font>
### dictionaryName[dictionary key] = data

In [479]:
tel['Mona']=87213    # add a new key value pair 
print(tel)

{'jack': 12345, 'Alex': 67890, 'Mona': 87213}

## <font color=green> Dictionary Modification</font>  
###   dictionaryName[dictionary key of item to be modified] = new data.

In [481]:
x[2]=155      #create new key (2) with value (155) in dictionary (x)
print(x)

{600: 36, 'a': 23, 700: 'e', 2: 155}

In [482]:
x[600]='hello'        #replace the value of key 600 with 'hello'
print(x)

{600: 'hello', 'a': 23, 700: 'e', 2: 155}

In [483]:
myDict['Ali']=26
print(myDict)

{'Ali': 26, 'Maha': 51}

## <font color=green> Dictionary  functions 
## <font color=purple> 1- Dictionary Length: </font>  len()

In [485]:
len(x)

4

In [486]:
len(myDict)

2

# <font color=purple> 2- Check Existance </font>
### To check whether an element exist in a dictionary or not, <font color=red> in </font> keyword is used

In [489]:
print(tel)

{'jack': 12345, 'Alex': 67890, 'Mona': 87213}

In [490]:
print ('jack' in tel)

True

In [491]:
print('Martin' in tel)

False

## Performing <font color=red>*list(d)*</font> on a dictionary returns a list of all the keys used in the dictionary,

In [564]:
list(tel)

['jack', 'Alex', 'Mona']

## <font color=purple> 3- Removing item from Dictionary </font>  
### del dictionaryName[dictionary key]

In [494]:
del x[2]
print(x)

{600: 'hello', 'a': 23, 700: 'e'}

## <font color=purple> 4- Removing Dictionary</font>  
### del dictionaryName

In [496]:
del x
print(x)

NameError: name 'x' is not defined

## <font color=green>Dictionary Built-in Functions
<img src='dic_func.png'>